.myinfo {
  font-size: x-large;
  text-align: center;
}
.logo-container {
  height: 40vh;
  padding-right: 10vw;
  display: block;
  text-align: end;
}
.logo {
  text-align: end;
}
.text1 {
  padding-right: 10px;
  font-size: 20px;
}
.text {
  padding-right: 30px;
  text-align: right;
  padding-right: 100px;
  /* text-align-last: center; */
}
.flex-container {
  height: 40vh;
  width: 80%;
  margin: 25px;
  padding-left: 10vw;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
}

.flex-item-left {
  /* background-color: #f1f1f1; */
  padding: 10px;
  flex: 50%;
}
.flex-item-center {
  /* background-color: #d55959; */
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  /* background-color: dodgerblue; */
  padding: 10px;
  flex: 50%;
}

/* Responsive*/
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    height: auto;
  }
}
